./qtquickcontrols2-dbg_5.15.13+git0+480694ae72-r0_sf8008.ipk
./libqt5xmlpatterns-dbg_5.15.13+git0+6e0917d518-r0_sf8008.ipk
./kodi-addon-pvr-vuplus-dbg_22.3.1+git0+47e0d52150-r0_sf8008.ipk
./qtquickcontrols2-dbg_5.15.13+git0+480694ae72-r0_sf8008.ipk
./libqt5xmlpatterns-dbg_5.15.13+git0+6e0917d518-r0_sf8008.ipk
./kodi-addon-pvr-vuplus-dbg_22.3.1+git0+47e0d52150-r0_sf8008.ipk
./all/enigma2-plugin-skins-pli-hd-dbg_0.1+git46+16f75910+16f7591ca5-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-dualhd-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-opticombo-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl88xxau-dbg_1.0-r0_all.ipk
./all/mm-common-dbg_1.0.6-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8712u-dbg_1.0-r0_all.ipk
./all/dvb-usb-drivers-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192fu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-955q-usb-hauppauge-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-mn8847x-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-cardreader-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagoneightsd-dbg_1.0+git57+7230b620+7230b62c02-r2_all.ipk
./all/openfix-spinner-dbg_1.0-r10_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt2500-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-enigmawelt-dbg_1.4.5-git117+86e974d0+86e974da2f-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt73-dbg_1.0-r0_all.ipk
./all/usb-modeswitch-data-dbg_20191128-r0_all.ipk
./all/packagegroup-openplugins-dbg_1.0-r3_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt8723bs-dbg_1.0-r2_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-tbs5520-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dw2102-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dib0700-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-picons-openfix-default-dbg_5.9-r1_all.ipk
./all/enigma2-plugin-extensions-bouquetmakerxtream-dbg_1.46-20250201-git196+177d3dd0+177d3ddc78-r4_all.ipk
./all/picons-enigma2-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-serienrecorder-dbg_4.7.6-git597+76b169c0+76b169c416-r0_all.ipk
./all/run-postinsts-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-xklass-dbg_1.34-20250204-git80+cf40deb0+cf40debd24-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-ax88179-178a-dbg_1.0-r0_all.ipk
./all/hicolor-icon-theme-dbg_0.18-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dtt200u-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt2800-dbg_1.0-r0_all.ipk
./all/update-rc.d-dbg_0.8+git0+b8f9501050-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8822cu-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-tbs-dbg_1.1-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-zd1211rw-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-bouquetcleanup-dbg_1.0+git5+aac1ba90+aac1ba982f-r0_all.ipk
./all/enigma2-plugin-extensions-jediepgxtream-dbg_2.12-20241030-git19+81988420+81988420c8-r3_all.ipk
./all/kodi-addons-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-950q-usb-hauppauge-dbg_1.0-r0_all.ipk
./all/bootlogos-enigma2-meta-dbg_1.0-r0_all.ipk
./all/font-valis-enigma-dbg_2009.11.12-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8812au-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192ce-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-smsc75xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-ath9k-htc-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8188fu-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-em28xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagonhdstyledark-dbg_1.0+git17+a3f67120+a3f67124bd-r1_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-t330-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192cu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192eu-dbg_1.0-r0_all.ipk
./all/iso-codes-dbg_4.17.0-r0_all.ipk
./all/netbase-dbg_6.4-r0_all.ipk
./all/os-release-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-keyboard-dbg_1.0-r0_all.ipk
./all/dreamplex-skins-meta-dbg_5.9-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-af9035-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-lamedbmerger-dbg_1.0+git7+16be3870+16be387903-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-af9015-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-usb-hauppauge-dbg_1.1-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-pctv292e-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8822bu-dbg_1.0-r0_all.ipk
./all/tuxbox-common-dbg_1.0+git956+b1584a40+b1584a433e-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-mt7610u-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-siano-dbg_1.0-r0_all.ipk
./all/easy-rsa-dbg_2.3.0-r0_all.ipk
./all/linux-firmware-8821cu-dbg_1.0-r0.1_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8821cu-dbg_1.0-r3_all.ipk
./all/enigma2-plugin-drivers-s2-dvb-usb-s960-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt3573-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagoneightfhd-dbg_1.0+git64+4ad0e200+4ad0e20efe-r2_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt3070-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8187-dbg_1.0-r0_all.ipk
./all/openresolv-dbg_3.13.2+git406+655c56f0+655c56fcf1-r0_all.ipk
./all/network-usb-drivers-meta-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-lan78xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-geniatech-t230-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-extensions-e2piconizer-dbg_1.27-20241030-git63+4a271580+4a2715814e-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-asix-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-it913x-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8852cu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dvbsky-classic-dbg_2.0-r2_all.ipk
./all/extrahw-drivers-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-a867-dbg_1.0-r0_all.ipk
./all/wireless-regdb-dbg_2022.08.12-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8188eu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt5572-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-pctv452e-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagonhdstyleblack-dbg_1.0+git28+922ccc90+922ccc9f9f-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192cu-rev2-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8814au-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-bluetooth-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-as102-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-rtl2832-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8152-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-mt7601u-dbg_1.0-r2_all.ipk
./all/ca-certificates-dbg_20240203-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8723a-dbg_1.0-r0_all.ipk
./all/livestreamersrv-dbg_0.4-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-carl9170-dbg_1.0-r0_all.ipk
./all/streamlinksrv-dbg_1.8.2+git25+c7ae8ab0+c7ae8ab3f8-r0_all.ipk
./qtquickcontrols2-dbg_5.15.13+git0+480694ae72-r0_sf8008.ipk
./libqt5xmlpatterns-dbg_5.15.13+git0+6e0917d518-r0_sf8008.ipk
./kodi-addon-pvr-vuplus-dbg_22.3.1+git0+47e0d52150-r0_sf8008.ipk
./all/enigma2-plugin-skins-pli-hd-dbg_0.1+git46+16f75910+16f7591ca5-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-dualhd-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-opticombo-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl88xxau-dbg_1.0-r0_all.ipk
./all/mm-common-dbg_1.0.6-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8712u-dbg_1.0-r0_all.ipk
./all/dvb-usb-drivers-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192fu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-955q-usb-hauppauge-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-mn8847x-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-cardreader-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagoneightsd-dbg_1.0+git57+7230b620+7230b62c02-r2_all.ipk
./all/openfix-spinner-dbg_1.0-r10_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt2500-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-enigmawelt-dbg_1.4.5-git117+86e974d0+86e974da2f-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt73-dbg_1.0-r0_all.ipk
./all/usb-modeswitch-data-dbg_20191128-r0_all.ipk
./all/packagegroup-openplugins-dbg_1.0-r3_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt8723bs-dbg_1.0-r2_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-tbs5520-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dw2102-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dib0700-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-picons-openfix-default-dbg_5.9-r1_all.ipk
./all/enigma2-plugin-extensions-bouquetmakerxtream-dbg_1.46-20250201-git196+177d3dd0+177d3ddc78-r4_all.ipk
./all/picons-enigma2-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-serienrecorder-dbg_4.7.6-git597+76b169c0+76b169c416-r0_all.ipk
./all/run-postinsts-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-xklass-dbg_1.34-20250204-git80+cf40deb0+cf40debd24-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-ax88179-178a-dbg_1.0-r0_all.ipk
./all/hicolor-icon-theme-dbg_0.18-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dtt200u-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt2800-dbg_1.0-r0_all.ipk
./all/update-rc.d-dbg_0.8+git0+b8f9501050-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8822cu-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-tbs-dbg_1.1-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-zd1211rw-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-bouquetcleanup-dbg_1.0+git5+aac1ba90+aac1ba982f-r0_all.ipk
./all/enigma2-plugin-extensions-jediepgxtream-dbg_2.12-20241030-git19+81988420+81988420c8-r3_all.ipk
./all/kodi-addons-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-950q-usb-hauppauge-dbg_1.0-r0_all.ipk
./all/bootlogos-enigma2-meta-dbg_1.0-r0_all.ipk
./all/font-valis-enigma-dbg_2009.11.12-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8812au-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192ce-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-smsc75xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-ath9k-htc-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8188fu-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-em28xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagonhdstyledark-dbg_1.0+git17+a3f67120+a3f67124bd-r1_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-t330-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192cu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192eu-dbg_1.0-r0_all.ipk
./all/iso-codes-dbg_4.17.0-r0_all.ipk
./all/netbase-dbg_6.4-r0_all.ipk
./all/os-release-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-keyboard-dbg_1.0-r0_all.ipk
./all/dreamplex-skins-meta-dbg_5.9-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-af9035-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-extensions-lamedbmerger-dbg_1.0+git7+16be3870+16be387903-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-af9015-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-atsc-usb-hauppauge-dbg_1.1-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-pctv292e-dbg_2.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8822bu-dbg_1.0-r0_all.ipk
./all/tuxbox-common-dbg_1.0+git956+b1584a40+b1584a433e-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-mt7610u-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-siano-dbg_1.0-r0_all.ipk
./all/easy-rsa-dbg_2.3.0-r0_all.ipk
./all/linux-firmware-8821cu-dbg_1.0-r0.1_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8821cu-dbg_1.0-r3_all.ipk
./all/enigma2-plugin-drivers-s2-dvb-usb-s960-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt3573-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagoneightfhd-dbg_1.0+git64+4ad0e200+4ad0e20efe-r2_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt3070-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8187-dbg_1.0-r0_all.ipk
./all/openresolv-dbg_3.13.2+git406+655c56f0+655c56fcf1-r0_all.ipk
./all/network-usb-drivers-meta-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-lan78xx-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-ct2-dvb-usb-geniatech-t230-dbg_1.0-r1_all.ipk
./all/enigma2-plugin-extensions-e2piconizer-dbg_1.27-20241030-git63+4a271580+4a2715814e-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-asix-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-it913x-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8852cu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-dvbsky-classic-dbg_2.0-r2_all.ipk
./all/extrahw-drivers-meta-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-a867-dbg_1.0-r0_all.ipk
./all/wireless-regdb-dbg_2022.08.12-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8188eu-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rt5572-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-pctv452e-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-skins-octagonhdstyleblack-dbg_1.0+git28+922ccc90+922ccc9f9f-r1_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8192cu-rev2-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8814au-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-extrahw-bluetooth-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-as102-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-dvb-usb-rtl2832-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-rtl8152-dbg_1.0-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-mt7601u-dbg_1.0-r2_all.ipk
./all/ca-certificates-dbg_20240203-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-r8723a-dbg_1.0-r0_all.ipk
./all/livestreamersrv-dbg_0.4-r0_all.ipk
./all/enigma2-plugin-drivers-network-usb-carl9170-dbg_1.0-r0_all.ipk
./all/streamlinksrv-dbg_1.8.2+git25+c7ae8ab0+c7ae8ab3f8-r0_all.ipk
